<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


	<cache:annotation-driven cache-manager="cacheManager"/>
	
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" 
		p:configLocation="/WEB-INF/ehcache.xml" 
		p:shared="true">
	</bean>
		
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" 
		p:cacheManager-ref="ehcache">
	</bean>
		
	<bean id="cacheService" class="com.pfkj.oas.util.CacheUtil" factory-method="getInstance" init-method="setSysConfig">
		<property name="cache" ref="oasCache"></property>
		<property name="dao" ref="cacheDao"></property>
	</bean>
	<bean id="oasCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
		p:cacheManager-ref="ehcache"
		p:cacheName="oasCache1">
	</bean>
	
	<bean id="cacheDao" class="com.pfkj.oas.dao.CacheDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Activiti的bean -->
	<!-- 流程引擎的配置bean -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="databaseSchemaUpdate" value="true"/>
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	<!-- 流程引擎的bean -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	<!-- 服务组件的bean -->
	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />

	<bean id="baseDao"  class="com.pfkj.oas.dao.BaseDaoImpl" autowire="byName">	
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 系统管理 -->
	<bean id="qxService" class="com.pfkj.oas.service.QxService" autowire="byName">
		<property name="manager" ref="qxManager"></property>
	</bean>
	<bean id="qxManager" class="com.pfkj.oas.manager.QxManager" autowire="byName">
		<property name="dao" ref="qxDao"></property>
	</bean>
	<bean id="qxDao" parent="baseDao" class="com.pfkj.oas.dao.QxDaoImpl" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="qxAction" class="com.pfkj.oas.action.QxAction" autowire="byName" scope="prototype">
		<property name="service" ref="qxService"></property>
	</bean>
	
	<!-- 结算单管理 -->
	<bean id="jsdglAction" class="com.pfkj.oas.action.JsdglAction" autowire="byName" scope="prototype">
		<property name="service" ref="JsdService"></property>
	</bean>
	<bean id="JsdService" class="com.pfkj.oas.service.JsdService" autowire="byName" scope="prototype">
		<property name="dao" ref="JsdDao"></property>
	</bean>
	<bean id="JsdDao" parent="baseDao" class="com.pfkj.oas.dao.JsdDaoImpl" autowire="byName" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 付款管理 -->
	<bean id="fkglAction" class="com.pfkj.oas.action.FkglAction" autowire="byName" scope="prototype">
		<property name="service" ref="FkService"></property>
	</bean>
	<bean id="FkService" class="com.pfkj.oas.service.FkService" autowire="byName" scope="prototype">
		<property name="manager" ref="FkManager"></property>
	</bean>
	<bean id="FkManager" class="com.pfkj.oas.manager.FkManager" autowire="byName" scope="prototype">
		<property name="dao" ref="fkDao"></property>
	</bean>
	<bean id="fkDao" parent="baseDao" class="com.pfkj.oas.dao.FkDaoImpl" autowire="byName" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 收款管理 -->
	<bean id="skglAction" class="com.pfkj.oas.action.SkglAction" autowire="byName" scope="prototype">
		<property name="service" ref="SkService"></property>
	</bean>
	<bean id="SkService" class="com.pfkj.oas.service.SkService" autowire="byName" scope="prototype">
		<property name="manager" ref="SkManager"></property>
	</bean>
	<bean id="SkManager" class="com.pfkj.oas.manager.SkManager" autowire="byName" scope="prototype">
		<property name="dao" ref="skDao"></property>
	</bean>
	<bean id="skDao" parent="baseDao" class="com.pfkj.oas.dao.SkDaoImpl" autowire="byName" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 回收资金管理 -->
	<bean id="recoverFundAction" class="com.pfkj.oas.recover.action.RecoverFundAction" autowire="byName" scope="prototype">
		<property name="incomeContractService" ref="incomeContractService"></property>
		<property name="receivableNoticeCardService" ref="receivableNoticeCardService"></property>
	</bean>
	<!-- 收入合同 -->
	<bean id="incomeContractService" class="com.pfkj.oas.recover.service.impl.IncomeContractServiceImpl" autowire="byName" scope="prototype">
		<property name="incomeContractDao" ref="incomeContractDao"></property>
	</bean>
	<bean id="incomeContractDao" parent="baseDao" class="com.pfkj.oas.recover.dao.impl.IncomeContractDaoImpl" autowire="byName" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 回收通知单 -->
	<bean id="receivableNoticeCardService" class="com.pfkj.oas.recover.service.impl.ReceivableNoticeCardServiceImpl" autowire="byName" scope="prototype">
		<property name="receivableNoticeCardDao" ref="receivableNoticeCardDao"></property>
	</bean>
	<bean id="receivableNoticeCardDao" parent="baseDao" class="com.pfkj.oas.recover.dao.impl.ReceivableNoticeCardDaoImpl" autowire="byName" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 文件管理 -->
	<bean id="fileAction" class="com.pfkj.oas.action.FileAction" autowire="byName" scope="prototype">
		<property name="service" ref="JsdService"></property>
		<property name="incomeContractService" ref="incomeContractService"></property>
	</bean>
</beans>